*~
O.*
bin
db
dbd
include
lib
envPaths
html
rtf

.project
.cproject
.settings
.cvsignore

*.config
*.creator
*.creator.user
*.files
*.includes
*.configure
*.autosave
*.swp

configure/
evgMrmApp/Db/*.db
evrMrmApp/Db/*.db
